<!-- src/app/Components/banner/banner.component.html -->

<div class="relative w-full h-[620px]" id="home">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="https://i.imgur.com/bo0alKh.jpeg" alt="Background Image 1" class="object-cover object-center mySlideImage" />
    </div>
    <div class="mySlides fade">
      <img src="https://i.imgur.com/6wadBiR.jpeg" alt="Background Image 2" class="object-cover object-center mySlideImage" />
    </div>
    <!-- Thêm các slide khác vào đây nếu cần -->
  </div>
  <div class="absolute inset-0 flex flex-col md:flex-row items-center justify-between px-15 md:px-12 py-10 md:py-16">
    <div class="md:w-1/2 mb-4 md:mb-0 text-center md:text-left text-white">
      <h1 class="text-white font-medium text-4xl md:text-5xl leading-tight mb-2">Bappa Flour mill</h1>
      <p class="font-regular text-xl mb-8 mt-4">One stop solution for flour grinding services</p>
      <button>
        Click me!
      </button>
    </div>
  </div>
</div>
